<div class="row bg-primary">
	<% if @article.image.attached? %>
		<%= image_tag @article.image %>
	<% end %>
	<div class="col">
		<h1 class="text-white"><%= @article.title %><br>
			<small class="text-white"><%= @article.heading %></small>
		</h1>
		<div class="text-white bg-secondary" >
	  		<%= raw(@article.body) %>
		</div>
		<div class="text-white bg-secondary" >
			<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>
		</div>
	</div>
</div>